<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Steel Plate Classifier ML Model</h1>
        <p>Codestates AI 18 Final Project1 2023.07</p>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('steel_page_ml') }}">강판 결함 분류 모델</a></li>
        </ul>
    </nav>

    <main>
        <h3>
        데이터 분석 및 모델링 서비스 제공 업체 Team Modify는 고객사로부터 새로운 의뢰를 받았다<br></h3>
        <h2>
        1. 오래전 만들어진 딥러닝 코드를 리팩터링해주세요!<br><br>
        2. 기존 모델의 성능을 개선해주세요!<br><br>
        3. 예측 모델을 웹서비스로 구현해주세요!<br><br>
        <br>
        </h2>
        <img src="{{ url_for('static', filename='images/index_pic.jpg') }}">
    </main>

</body>
</html>

